<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Pokemon Secret Santa API</title>
</head>
<body>
    <div id="apiBox">
        <h1>Pokemon Secret Santa</h1>
        <form action="/processAPI" method="post">
            <fieldset>
                <legend>
                    Pokemon Secret Santa API
                </legend>
                <label>Pokemon: <input type="text" name="pokemonAPI" required></label>
            </fieldset>
            <input type="reset">
            <input type="submit"><br>
        </form>
        <br>
        
        <a href="/">HOME</a>
    </div>
</body>
</html>