<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Pokemon Secret Santa</title>
</head>
<body id="background">
    <div id="homeBox">
        <h1>POKEMON SECRET SANTA</h1>
        <p>By: Celina Camp (UID: 116525749 | DirectoryID: ccamp12) and Mili Gupta (UID: 116674713 | DirectoryID: mgupta12)</p>
        <h2><a href="/form">Fill out your form for favorite pokemon</a></h2>
        <h2><a href="/lookup">Find out any entered person's favorite pokemon</a></h2>
        <h2><a href="/API">Find out information about any pokemon!</a></h2>
        <h2><a href="/pokemonRemove">Remove Pokemon Entries</a></h2>
    </div>
</body>
</html>