<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Secret Santa Lookup Info</title>
</head>

<body>
    <div id="processLookupBox">
    <h1>Pokemon Secret Santa</h1>
    <fieldset>
        <legend>
            Pokemon Secret Santa Lookup
        </legend>
        <strong>First Name: </strong><%- firstName %>
        <strong>Last Name: </strong><%- lastName %>
        <strong>Pokemon: </strong><%- pokemon %>
    </fieldset>
    <br>
    </div>
    <a href="/">HOME</a>
</body>
</html>