<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Secret Santa API Info</title>
</head>
<body>
    <div id="processAPIBox">
        <h1>Pokemon Secret Santa</h1>
        <fieldset>
            <legend><%- pokemonName %></legend>
            <h2>Weight: <%- pokemonWeight %></h2>
            <h2>Height: <%- pokemonHeight %></h2>
            <img src="<%= pokemonImg %>" alt = "">
        </fieldset>
    </div>
    <a href="/">HOME</a>
</body>
</html>